.language {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2px 0;
}
.language-button {
    background-color: white;
    padding: 4px 2px;
    margin-right: 10px;
}

.language-button.active {
    color: white;
    background-color: #17589f;
}
